.App {
  text-align: center;
  background-color:rgb(221, 75, 104);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(118, 9, 9);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.third {
  border-color: rgb(91, 91, 203);
  color: #5acdfb;
  box-shadow: 0 0 40px 40px rgb(58, 58, 116) inset, 0 0 0 0 blue;
  transition : all 150ms ease-in-out;
  padding: 15px 32px;
  text-align: center;
  font-size: 32px;
  
  &:hover {
    box-shadow: 0 0 10px 0 rgb(16, 150, 150) inset, 0 0 10px 4px blue;
  }
}